<!Doctype html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" coontent="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" coontent="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Hamza Blog</title>

</head>
<body>
    <header class="container center-align">
        <h1>Hamza Blog</h1>
    </header>

    <div class="container">
        {% block content %}         // we are using jinja here
        {% endblock %}
        <br>

        <a style="display:block" class="center-align" href="/admin">Admin Login</a>
    </div>
</body>
</html>